<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">{% if title %}{{ title }}{% else %}Example{% endif %} <span class="size"></span></h3>
    {%- if breakPoints or enableFullScreen %}
    <div class="resize-buttons btn-group pull-right">
      {%- for vpButton in breakPoints %}
      <button type="button"
              class="btn btn-default btn-xs"
              data-vp="{{ vpButton.w }}:{{ vpButton.h }}">
        {% if vpButton.icon %}<span class="glyphicon glyphicon-{{ vpButton.icon }}"></span>{% endif %} {{ vpButton.name }}
      </button>
      {%- endfor %}
      {%- if enableFullScreen %}
      <button type="button" class="btn btn-default btn-xs full-screen hide-tui-only">
        <span class="glyphicon glyphicon-fullscreen"></span> Full Screen
      </button>
      {%- endif %}
    </div>
    {%- endif %}
  </div>
  <div class="panel-body">
    <div class="iframe-wrapper resizable">
      <iframe id="{{ id }}" src="{{ iframeFilePath }}"></iframe>
    </div>
  </div>
  <pre class="panel-footer"><code class="language-markup" data-iframe-id="{{ id }}">{{ code }}</code></pre>
  {% if dynamicSource %}
   <script>
    (function() {
      var iframe_ = document.querySelector('#{{ id }}');
      iframe_.onload = function() {
        hljs.configure({
          tabReplace: '    ',
          useBR: true,
        });
        var codeViewer = document.querySelector('code[data-iframe-id="{{ id }}"]');
        var source = iframe_.contentWindow.document.querySelector('{{ sourcecodeSelector }}');
        codeViewer.innerHTML = hljs.highlight('html', html_beautify(source.innerHTML.trim())).value;
        var observer = new window.MutationObserver(function(mutations) {
          mutations.forEach(function() {
            codeViewer.innerHTML = hljs.highlight('html', html_beautify(source.innerHTML.trim())).value;
          });
        });
        observer.observe(source, {
          attributes: true,
          characterData: true,
          childList: true,
          subtree: true,
        });
      }
    })();
  </script>
  {% endif %}
</div>
