<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en-US{% endif %}" {% if lang_dir %}dir="{{ lang_dir }}"{% endif %}>
  <head>
    {%- block defaultmeta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {%- endblock %}
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block headstyle %}{% endblock %}
    {% block headscript %}{% endblock %}
  </head>
  <body {% block bodyclass %}{% endblock %}>
    {% block bodycontent %}{% endblock %}
    {% block bodyscript %}{% endblock %}
  </body>
</html>
